.header{
    position: relative;
    background-color: #ffffff;
    margin-left: 75px;
    margin-top: 25px;

    span{
        opacity: 1 !important;
        font-family: cursive;
        font-size: 44px;
        font-weight: 900;

    }
}

.content{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.continue{
    position: fixed; 
    top: 90%;
    left: 90%;
    width: 300px;
    height: 100px;
    transform: translate(-50%, -50%);
    button{
        width: 200px;
        height: 50px;
        background-color: black;
        color: #ffffff;
        border-radius: 30px;

        span{
            font-size: 18px;
            font-family: cursive;

        }
        
    }
}

.body{
    margin: 75px;

}

.nav-item{
    // :hover{
    //     background-color: black;
    //     color: #ffffff;
    // }
}